
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
<mat-card class="leave-card">
   <mat-card-header>
         <mat-card-title class="card-container-center">Leave Application</mat-card-title>
   </mat-card-header>
   <div class = "leave-container" >
      <form [formGroup]="leaveForm" ngNativeValidate (ngSubmit)="save()">
         <mat-card-content>

            <table class="table">
               <tbody>

                  <tr>
                     <th scope="row"></th>
                     <td>
                           <mat-form-field appearance="outline" [color]="warn"
                           [hideRequiredMarker]="options.value.hideRequired"
                           [floatLabel]="options.value.floatLabel">
                         <mat-select required formControlName="leaveType" [ngClass]="{'has-error': ((leaveForm.get('leaveType').touched ||
                         leaveForm.get('leaveType').dirty) &&
                         leaveForm.get('leaveType').errors)}">
                              <mat-option *ngFor="let state of leaveTypelist" [value]="state">{{ state.key }}</mat-option>
                         </mat-select>
                         <mat-label>Leave Type</mat-label>
                       </mat-form-field>
                       <span class="help-block" *ngIf="((leaveForm.get('leaveType').touched || leaveForm.get('leaveType').dirty) &&  leaveForm.get('leaveType').errors)">
                           <span *ngIf="leaveForm.get('leaveType').errors['required']">
                              Leave Type is required
                           </span>
                        </span>
                     </td>
                     <td>

                     </td>
                  </tr>

                  <tr>
                        <th scope="row"></th>
                        <td>
                              <mat-form-field appearance="outline" >
                                    <input matInput [matDatepicker]="picker" placeholder="From Date"  formControlName="fromDate"[ngClass]="{'has-error': ((leaveForm.get('fromDate').touched ||
                                    leaveForm.get('fromDate').dirty) &&
                                    leaveForm.get('fromDate').errors)}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              <span class="help-block" *ngIf="((leaveForm.get('fromDate').touched || leaveForm.get('fromDate').dirty) &&  leaveForm.get('fromDate').errors)">
                                    <span *ngIf="leaveForm.get('fromDate').errors['required']">
                                       From Date is required
                                    </span>
                                    <span *ngIf="((leaveForm.get('fromDate').touched || leaveForm.get('fromDate').dirty) &&  leaveForm.get('fromDate').errors.validSickLeave)">
                                       Advance sick leave cannot availed
                                    </span>
                                 </span>
                        </td>
                        <td>
                              <mat-form-field appearance="outline" [ngClass]="{'has-error': ((leaveForm.get('fromSession').touched ||
                              leaveForm.get('fromSession').dirty) &&
                              leaveForm.get('fromSession').errors)}" >
                                    <mat-label>From Session</mat-label>
                                    <mat-select formControlName="fromSession">
                                      <mat-option *ngFor="let food of sessionlist" [value]="food.value">
                                        {{food.key}}
                                      </mat-option>
                                    </mat-select>
                              </mat-form-field>
                              <span class="help-block" *ngIf="((leaveForm.get('fromSession').touched || leaveForm.get('fromSession').dirty) &&  leaveForm.get('fromSession').errors)">
                                    <span *ngIf="leaveForm.get('fromSession').errors['required']">
                                       From Session is required
                                    </span>
                              </span>
                        </td>
                     </tr>

                     <tr>
                           <th scope="row"></th>
                           <td>
                                 <mat-form-field appearance="outline" >
                                       <input matInput [matDatepicker]="pickerTo" placeholder="To Date"  formControlName="toDate"[ngClass]="{'has-error': ((leaveForm.get('toDate').touched ||
                                       leaveForm.get('toDate').dirty) &&
                                       leaveForm.get('toDate').errors)}">
                                       <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                       <mat-datepicker #pickerTo></mat-datepicker>
                                 </mat-form-field>
                                 <span class="help-block" *ngIf="((leaveForm.get('toDate').touched || leaveForm.get('toDate').dirty) &&  leaveForm.get('toDate').errors)">
                                       <span *ngIf="leaveForm.get('toDate').errors['required']">
                                          To Date is required
                                       </span>
                                 </span>
                           </td>
                           <td>
                                 <mat-form-field appearance="outline" [ngClass]="{'has-error': ((leaveForm.get('toSession').touched ||
                              leaveForm.get('toSession').dirty) &&
                              leaveForm.get('toSession').errors)}">
                                    <mat-label>To Session</mat-label>
                                    <mat-select formControlName="toSession">
                                      <mat-option *ngFor="let food of sessionlist" [value]="food.value">
                                        {{food.key}}
                                      </mat-option>
                                    </mat-select>
                              </mat-form-field>
                              <span class="help-block" *ngIf="((leaveForm.get('toSession').touched || leaveForm.get('toSession').dirty) &&  leaveForm.get('toSession').errors)">
                                    <span *ngIf="leaveForm.get('toSession').errors['required']">
                                       To Session is required
                                    </span>
                                   
                              </span>
                           </td>
                     </tr>

                     <tr>
                           <th scope="row"></th>
                           <td>
                                 <mat-form-field appearance="outline">
                                       <mat-label>Days</mat-label>
                                       <input matInput placeholder="Days" formControlName="days">
                                 </mat-form-field>
                           </td>
                           <td>
                                 <mat-form-field appearance="outline">
                                       <mat-label>Remaining Days</mat-label>
                                       <input matInput formControlName="remaining" placeholder="Remaining Days">
                                 </mat-form-field>
                           </td>
                     </tr>

                     <tr>
                           <th scope="row"></th>
                           <td colspan="2">
                                 <mat-form-field appearance="outline" [ngClass]="{'has-error': ((leaveForm.get('reason').touched ||
                                 leaveForm.get('reason').dirty) &&
                                 leaveForm.get('reason').errors)}">
                                       <mat-label>Reason</mat-label>
                                       <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
                                 </mat-form-field>
                                 <span class="help-block" *ngIf="((leaveForm.get('reason').touched || leaveForm.get('reason').dirty) &&  leaveForm.get('reason').errors)">
                                       <span *ngIf="leaveForm.get('reason').errors['required']">
                                          Reason is required
                                       </span>
                                 </span>
                           </td>
                     </tr>

                     <tr>
                           <th scope="row"></th>
                           <td colspan="2">
                                 <mat-form-field appearance="outline" [color]="warn" [ngClass]="{'has-error': ((leaveForm.get('applyTo').touched ||
                                 leaveForm.get('applyTo').dirty) &&
                                 leaveForm.get('applyTo').errors)}">
                                 <mat-label>Apply To</mat-label>
                                       <input matInput placeholder="Apply To" formControlName="applyTo">
                                 </mat-form-field>
                                 <span class="help-block" *ngIf="((leaveForm.get('applyTo').touched || leaveForm.get('applyTo').dirty) &&  leaveForm.get('applyTo').errors)">
                                       <span *ngIf="leaveForm.get('applyTo').errors['required']">
                                          Apply To is required
                                       </span>
                                 </span>
                           </td>
                     </tr>
               </tbody>
            </table>
            
         </mat-card-content>
         <mat-card-actions>
         <button mat-raised-button color="primary" type="submit">Submit</button>
         <button mat-raised-button color="warn" type="reset">Cancel</button>
      </mat-card-actions>
      </form>
   </div>
</mat-card>  
