.leave-card{
  position: relative;
  margin-left: 2.5%;
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 0em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
  max-height: 850px;
  color: var(--text-color);
}
.leave-container {
display: flex;
flex-direction: column;
padding: 1em;
}
.leave-container > * {
width: 100%;
}
.leave-right-align {
text-align: right;
}
input.leave-right-align::-webkit-outer-spin-button,
input.leave-right-align::-webkit-inner-spin-button {
display: none;
}
input.leave-right-align {
-moz-appearance: textfield;
}
.card-container-center{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

td,tr,th{
  border:none !important;
}
.mat-card-actions{
  position: relative;
  margin-left: 25em !important;
}
