<mat-card class="user-card">
    <mat-card-header>
      <mat-card-title class="card-container-center">Register New Employee</mat-card-title>
    </mat-card-header>
    <div class="user-container">
              
        <form #form="ngForm" ngNativeValidate (ngSubmit)="onSubmit(form)">
        <mat-card-content>

<table class="table">
    <tbody>

        <tr>
            <th scope="row"></th>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee Name</mat-label>
                        <input matInput name="name" [(ngModel)]="user.Name" placeholder="Enter Employee Name" required [class.field-error]="form.submitted && user.Name.invalid">
                        <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <div [hidden]="user.Name.valid || !form.submitted" class="alert alert-danger">Enter Employee Name</div>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee DOB</mat-label>
                    <input matInput [matDatepicker]="picker" name="DOB" [(ngModel)]="user.DOB" placeholder="Enter Employee DOB" required [class.field-error]="form.submitted && user.DOB.invalid">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div [hidden]="user.DOB.valid || !form.submitted" class="alert alert-danger">Enter Employee DOB</div>
            </td>
        </tr>

        <tr>
            <th scope="row"></th>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee Gender</mat-label>
                    <mat-select name="Gender" [(ngModel)]="user.Gender" placeholder="Enter Employee DOB" required [class.field-error]="form.submitted && user.Gender.invalid">
                        <mat-option *ngFor="let gender of gender" [value]="gender.viewValue">{{gender.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div [hidden]="user.Gender.valid || !form.submitted" class="alert alert-danger">Enter Employee Gender</div>
            </td>
            <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Blood Type</mat-label>
                            <mat-select name="BloodType" [(ngModel)]="user.BloodType" placeholder="Enter Employee BloodType" required [class.field-error]="form.submitted && user.BloodType.invalid">
                                <mat-option *ngFor="let bloods of bloods" [value]="bloods.viewValue">{{bloods.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <div [hidden]="user.BloodType.valid || !form.submitted" class="alert alert-danger">Enter Employee BloodType</div>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Marital Status</mat-label>
                            <mat-select name="MaritalStatus" [(ngModel)]="user.MaritalStatus" placeholder="Enter Employee Marital Status" required [class.field-error]="form.submitted && user.MaritalStatus.invalid">
                                <mat-option *ngFor="let marital of marital" [value]="marital.viewValue">{{marital.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <div [hidden]="user.MaritalStatus.valid || !form.submitted" class="alert alert-danger">Enter Employee Marital Status</div>
                </td>
                <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Employee Nationality:</mat-label>
                                <input matInput name="Nationality" [(ngModel)]="user.Nationality" placeholder="Enter Employee Nationality" required [class.field-error]="form.submitted && user.Nationality.invalid">
                                <mat-icon matSuffix>flag</mat-icon>
                        </mat-form-field>
                        <div [hidden]="user.Nationality.valid || !form.submitted" class="alert alert-danger">Enter Employee Nationality</div>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Phone Number:</mat-label>
                                <input type="number" matInput name="PhoneNumber" [(ngModel)]="user.PhoneNumber" placeholder="Enter Employee PhoneNumber" required [class.field-error]="form.submitted && user.PhoneNumber.invalid">
                                <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                    <div [hidden]="user.PhoneNumber.valid || !form.submitted" class="alert alert-danger">Enter Employee Phone Number</div>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Email ID:</mat-label>
                                <input type="email" matInput name="Email_ID" [(ngModel)]="user.Email_ID" placeholder="Enter Employee Email ID" required [class.field-error]="form.submitted && user.Email_ID.invalid">
                                <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <div [hidden]="user.Email_ID.valid || !form.submitted" class="alert alert-danger">Enter Employee Email ID</div>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee User Name</mat-label>
                                <input type="email" matInput name="UserName" [(ngModel)]="user.UserName" placeholder="Enter Employee UserName " required [class.field-error]="form.submitted && user.UserName.invalid">
                                <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <div [hidden]="user.UserName.valid || !form.submitted" class="alert alert-danger">Enter Employee UserName</div>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                    <mat-label>Employee DOJ</mat-label>
                    <input matInput [matDatepicker]="picker2" name="DOJ" [(ngModel)]="user.DOJ" placeholder="Enter Employee DOJ" required [class.field-error]="form.submitted && user.DOJ.invalid">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <div [hidden]="user.DOJ.valid || !form.submitted" class="alert alert-danger">Enter Employee DOJ</div>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Department</mat-label>
                            <mat-select name="Department" [(ngModel)]="user.Department" placeholder="Enter Employee Department" required [class.field-error]="form.submitted && user.Department.invalid">
                                <mat-option *ngFor="let department of department" [value]="department.viewValue">{{department.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <div [hidden]="user.Department.valid || !form.submitted" class="alert alert-danger">Enter Employee Department</div>
                </td>
                <td>
                    <div class="form-group form-inline">
                            
                    </div>
                </td>
        </tr>

    </tbody>
</table>


                <div [hidden] ="!postError" class ="alert alert-danger"> {{postErrorMessage}}</div>
          <mat-card-actions>
                <button mat-raised-button type="submit" color="primary">Register</button>
                <button mat-raised-button type="cancel" color="accent">Cancel</button>
          </mat-card-actions>
        
    </mat-card-content>
  </form>
</div>
</mat-card>
  
