<mat-card class="user-card">
    <mat-card-header>
      <mat-card-title class="card-container-center">Register New Employee</mat-card-title>
    </mat-card-header>
    <div class="user-container">
              
        <form [formGroup]="userForm" autocomplete="off">
        <mat-card-content>

<table class="table">
    <tbody>

        <tr>
            <th scope="row"></th>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee Name</mat-label>
                        <input matInput placeholder="Enter Employee Name" required formControlName="Name" [ngClass]="displayFieldCss('Name')">
                        <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <app-field-error-display [displayError]="isFieldValid('Name')"  errorMsg="Please Enter Employee Name">
                </app-field-error-display>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee DOB</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Enter Employee DOB" required formControlName="DOB" [ngClass]="displayFieldCss('DOB')">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <app-field-error-display [displayError]="isFieldValid('DOB')"  errorMsg="Please Enter Employee DOB">
                </app-field-error-display>
            </td>
        </tr>

        <tr>
            <th scope="row"></th>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Employee Gender</mat-label>
                    <mat-select placeholder="Enter Employee Gender" required formControlName="Gender" [ngClass]="displayFieldCss('Gender')">
                        <mat-option *ngFor="let gender of gender" [value]="gender.viewValue">{{gender.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <app-field-error-display [displayError]="isFieldValid('Gender')"  errorMsg="Please Enter Employee Gender">
                </app-field-error-display>
            </td>
            <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Blood Type</mat-label>
                            <mat-select placeholder="Enter Employee Blood Type" required formControlName="BloodType" [ngClass]="displayFieldCss('BloodType')">
                                <mat-option *ngFor="let bloods of bloods" [value]="bloods.viewValue">{{bloods.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('BloodType')"  errorMsg="Please Enter Employee Blood Type">
                    </app-field-error-display>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Marital Status</mat-label>
                            <mat-select placeholder="Enter Employee Marital Status" required formControlName="MaritalStatus" [ngClass]="displayFieldCss('MaritalStatus')">
                                <mat-option *ngFor="let marital of marital" [value]="marital.viewValue">{{marital.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('MaritalStatus')"  errorMsg="Please Enter Employee Marital Status">
                    </app-field-error-display>
                </td>
                <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Employee Nationality:</mat-label>
                                <input matInput placeholder="Enter Employee Nationality" required formControlName="Nationality" [ngClass]="displayFieldCss('Nationality')">
                                <mat-icon matSuffix>flag</mat-icon>
                        </mat-form-field>
                        <app-field-error-display [displayError]="isFieldValid('Nationality')"  errorMsg="Please Enter Employee Nationality">
                        </app-field-error-display>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Phone Number:</mat-label>
                                <input type="number" matInput placeholder="Enter Employee PhoneNumber" required formControlName="PhoneNumber" [ngClass]="displayFieldCss('PhoneNumber')">
                                <mat-icon matSuffix>phone</mat-icon>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('PhoneNumber')"  errorMsg="Please Enter Employee PhoneNumber">
                    </app-field-error-display>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Email ID:</mat-label>
                                <input type="email" matInput placeholder="Enter Employee Email ID" required 
                                formControlName="Email_ID" [ngClass]="displayFieldCss('Email_ID')">
                                <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('Email_ID')"  errorMsg="Please Enter Employee Email ID">
                    </app-field-error-display>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee User Name</mat-label>
                                <input type="text" matInput placeholder="Enter Employee UserName " required 
                                formControlName="UserName" [ngClass]="displayFieldCss('UserName')">
                                <mat-icon matSuffix>verified_user</mat-icon>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('UserName')"  errorMsg="Please Enter Employee UserName">
                    </app-field-error-display>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                    <mat-label>Employee DOJ</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Enter Employee DOJ" required formControlName="DOJ" [ngClass]="displayFieldCss('DOJ')">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('DOJ')"  errorMsg="Please Enter Employee DOJ">
                    </app-field-error-display>
                </td>
        </tr>

        <tr>
                <th scope="row"></th>
                <td>
                    <mat-form-field appearance="outline">
                            <mat-label>Employee Department</mat-label>
                            <mat-select placeholder="Enter Employee Department" required formControlName="Department" [ngClass]="displayFieldCss('Department')">
                                <mat-option *ngFor="let department of department" [value]="department.viewValue">{{department.viewValue}}</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <app-field-error-display [displayError]="isFieldValid('Department')"  errorMsg="Please Enter Employee Department">
                    </app-field-error-display>
                </td>
                <td>
                    <div class="form-group form-inline">
                            
                    </div>
                </td>
        </tr>

    </tbody>
</table>

          <mat-card-actions>
                <button mat-raised-button type="submit" (click)="onSubmit()"  color="primary">Register</button>
                <button mat-raised-button (click)="reset()" type="reset" color="accent">Cancel</button>
          </mat-card-actions>
        
    </mat-card-content>
  </form>
</div>
</mat-card>
  
