<mat-grid-list cols="5" rowHeight="5:1">
        <mat-grid-tile><img class="hrlogo"src="../../../assets/hr logo.png"></mat-grid-tile>
        <mat-grid-tile><div class="rights">All Rights Reserved</div></mat-grid-tile> 
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <div class="row">
                <img class="socialpng" src="https://img.icons8.com/material/24/000000/facebook-circled.png">
                <img class="socialpng" src="https://img.icons8.com/material/24/000000/twitter-squared.png">
                <img class="socialpng" src="https://img.icons8.com/material/24/000000/linkedin.png">
                <img class="socialpng" src="https://img.icons8.com/material/24/000000/pinterest.png">
            </div>
        </mat-grid-tile>
</mat-grid-list>
      
      
