<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="card-container-center">Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

      <div class="form-group ">
          <mat-form-field appearance="outline" >
              <mat-label>User Name</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
          </mat-form-field>
        <label for="InputUserName">User Name</label>
        <input type="text" class="form-control responsive" name="UserName"id="userName" placeholder="Enter User Name" [(ngModel)]="employeeLogin.userName" required   #nameField= "ngModel"
        [class.field-error]="form.submitted && nameField.invalid ">
        <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">Enter Username</div>
      </div>

      <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control responsive" name="Password" id="InputPassword" placeholder="Password" [(ngModel)]="employeeLogin.password" required   #passField= "ngModel"
        [class.field-error]="form.submitted && passField.invalid ">
        <div [hidden]="!form.submitted || passField.valid" class="alert alert-danger">Enter Password</div>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input responsive" name="RememberMe" id="rememberMe" [(ngModel)]="employeeLogin.rememberme">
        <label class="form-check-label" for="rememberMe">Remember Me</label>
        <a  routerLink="/forgotpassword" class="forgot" >Forgot Password?</a>
      </div>

      <div [hidden] ="!postError" class ="alert alert-danger"> {{postErrorMessage}}</div>

      <button type="submit" class="btn btn-primary col-md-2 m-3 responsive">Submit</button>
      <button type="reset" class="btn btn-danger col-md-2 m-3 responsive">Cancel</button>
  </form>
  </mat-card-content>

</mat-card>
