.mat-card{
  max-width: 300px;
  position: relative;
  margin-left: 25%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
  background-color: var(--primary-color);
  color: var(--text-color);
}
.mat-card-title{
  position: relative;
  margin-left: 160%;
  font-size: 1.5em;
}
.mat-form-field {
  position: relative;
  margin-left: 7.5%;
}
.forgot{
  position: relative;
  left: 15%;
  color: blue;
  font-size: 1em;
  font-weight: bold;
}
.mat-card-actions{
  position: relative;
  margin-left: 17.5%;
}
