<mat-toolbar>
  <mat-toolbar-row>
    <img href="/dashboard" class="hrlogo"src="../../../assets/hr logo.png">&nbsp;
    <h1>HR HUB </h1>
    
    <span class="menu-spacer"></span>
    <div>
         
      <a mat-button [routerLink]="'/feeds'"> Feeds </a> &nbsp;

      <a mat-button [routerLink]="'/timesheet-account'"> Time Sheet </a>&nbsp;

      <a mat-button  [matMenuTriggerFor]="directoryMenu"> Directory </a>&nbsp;
        <mat-menu #directoryMenu="matMenu">
            <button mat-menu-item [routerLink]="'/contacts'"  >See All Employee</button>
            <button mat-menu-item [routerLink]="'/users'" *ngIf="isAdmin =='1'" >Add new Employee</button>
            <button mat-menu-item *ngIf="isAdmin =='1'"  >Update Employee Details</button>
            <button mat-menu-item *ngIf="isAdmin =='1'" >Delete Employee</button>
        </mat-menu>  
        
      <a mat-button [matMenuTriggerFor]="leaveMenu"> Leave</a> &nbsp;&nbsp;
      <mat-menu #leaveMenu = "matMenu">
          <button mat-menu-item [routerLink]="'/leave'" >Apply Leave</button>
          <button mat-menu-item *ngIf="isAdmin =='1'" >Review Leave</button>
          <button mat-menu-item>Track Leave</button>
      </mat-menu> 
   
    </div>
    <div class="searchform">
    <mat-form-field appearance="">
        <mat-label>Search</mat-label>
        <input matInput>
        <i class="fa fa-search"></i>
    </mat-form-field>
  </div>
    
    <span class="logoutSpacer"></span>
    <div>
    <mat-icon [matMenuTriggerFor]="personMenu" matSuffix>person</mat-icon>
    <mat-menu #personMenu = "matMenu">
        <button mat-menu-item [routerLink]="'/leave'" >Account Settings</button>
        <button mat-menu-item>Update Profile</button>
        <button mat-menu-item [routerLink]="'/login'" >LogOut</button>
    </mat-menu> 
  </div>
  </mat-toolbar-row>

</mat-toolbar>



<!----<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="hrlogo"src="../../../assets/hr logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="#">Feeds <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#">TimeSheet<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Directory<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/users">Add Employee</a>
            <a class="dropdown-item" href="#">Update Employee</a>
            <a class="dropdown-item" href="#">Delete Employee</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">List all Employees</a>
          </div>
        </li>

        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Leave<span class="sr-only">(current)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/leave">Apply</a>
              <a class="dropdown-item" href="#">Review</a>
              <a class="dropdown-item" href="#">Track</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" >Sanction Leave</a>
            </div>
        </li>

        
      
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> 
      <li class="nav-item active">
          <a class="nav-link" routerLink="/login">LogOut<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    </div>
</nav>

---->