<mat-card class="forgotPassword-card">
  <mat-card-header>
    <div><mat-icon matPreffix>lock</mat-icon></div>
    <mat-card-title>Forgot Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <form [formGroup]="forgotPasswordForm" autocomplete="off">
         <mat-form-field appearance="outline">
          <mat-label>Enter Your Mail ID</mat-label>
          <input matInput placeholder="Enter your User Name" formControlName="userNAme">
          <mat-icon matSuffix> contact_mail</mat-icon>
          </mat-form-field> 
          <app-field-error-display [displayError]="isFieldValid('userNAme')"  errorMsg="Please Enter Valid User Name"></app-field-error-display>
      </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" >Submit</button>
    <button mat-raised-button color="accent">Cancel</button>
  </mat-card-actions>
</mat-card>

