:host {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex: 1 1 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
.content {
  position: relative;
  margin-top: 5% ;
  flex: 1;
}
.space{
  height: 2.25em;
}
