<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hello</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://www.trzcacak.rs/myfile/detail/337-3371694_cartoon-person-waving-cartoon-man-image-png.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Good Morning! Have a pleasant day!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Contact HR</button>
        </mat-card-actions>
</mat-card>
