<mat-grid-list cols="5" rowHeight="5:1">
  <mat-grid-tile><img class="hrlogo"src="../../../assets/hr logo.png"></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile> 
  <mat-grid-tile><h1>HR HUB</h1></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile><mat-icon [ngStyle]="{'color':'white'}">person</mat-icon>
  <!---  <mat-select>
        <mat-option *ngFor="let person of person" [value]="person.value">
          {{person.viewValue}}
    </mat-option>
      </mat-select>--->
    </mat-grid-tile>
</mat-grid-list>

