.contacts-card{
    position: relative;
    margin-left: 2.15em;
    width: 100%;
    background-color: white;
    margin-top: 0.75em;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
    max-height: 720px;
  }
  .btn-primary{
    position: relative;
    margin: 1em;
    left:28%;
  }
  .btn-danger{
    position: relative;
    margin: 1em;
    left:30%;
  }
  .contacts-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  }
  .contacts-container > * {
  width: 100%;
  }
  .contacts-right-align {
  text-align: right;
  }
  input.contacts-right-align::-webkit-outer-spin-button,
  input.contacts-right-align::-webkit-inner-spin-button {
  display: none;
  }
  input.contacts-right-align {
  -moz-appearance: textfield;
  }
  .forgot{
    position: relative;
    left: 55%;
    color: green;
  }
  .mat-checkbox{
    position: relative;
    left: 3%;
  }
  .card-container-center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    width: 100%;
  }  
  .mat-row:nth-child(even){
  background-color:ghostwhite;
}
.searchform{
  flex:1;
}
