.contacts-card{
  position: relative;
  margin-left: 2.5%;
  width: 100%;
  background-color: var(--primary-color);
  margin-top: 0em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(100, 51, 74, 5);
  max-height: 750px;
  color: var(--text-color);
  }
  .contacts-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-height: 650px;
  overflow: auto;
  overflow-x: hidden;
  }
  .contacts-container > * {
  width: 100%;
  }
  .contacts-right-align {
  text-align: right;
  }
  input.contacts-right-align::-webkit-outer-spin-button,
  input.contacts-right-align::-webkit-inner-spin-button {
  display: none;
  }
  input.contacts-right-align {
  -moz-appearance: textfield;
  }

  .card-container-center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    width: 100%;
  }  
  td,th{
    padding: 0.5em !important;
    text-align: center !important;
  }

.mat-form-field{
  left: 57.5em;
  font-size: 0.75em;
}
th{
  font-weight: bold !important;
  font-size: 1.1em !important;
}