<mat-card class="example-card" fxLayout="column">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Hello {{username}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image class ="personimage"src="https://www.pngkey.com/png/full/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{value}}! Have a pleasant day!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="accent" href='https://outlook.office365.com/mail/inbox'>Contact HR</a>
  </mat-card-actions>       
</mat-card>
